# Node.js dependencies
node_modules/

# Environment
.env

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# OS files
.DS_Store
Thumbs.db

# Sequelize artifacts
.sequelize
/migrations/*.js
/seeders/*.js

# Build outputs
dist/
build/

# Folders for editors
.vscode/
.idea/
